{% extends 'base.html' %}
{% block body %}

<div class="modal fade" id="marcar" role="dialog">
    <div class="modal-dialog">
              <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Marcar</h4>
            </div>
            <form class="form" action="{% url 'marcarCompromisso' perfilLogado.escritorio.id %}" method="post">
                <div class="modal-body">
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">x</button>
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                    {% csrf_token %}
                    <p>Cliente</p>
                    <label for="id_cpf">CPF</label>
                    <input type="text" id="id_cpf" name="cpf" class="form-control" placeholder="000.000.000-00" required>
                    <input type="text" id="id_nome" name="nome" class="form-control" placeholder="Nome" required>
                    <input type="text" id="id_telefone" name="telefone" class="form-control" placeholder="Telefone" required>
                    <hr>
                    <select class="form-control" id=id_profissional name="profissional">
                        {% for profissional in profissionais %}
                        <option>{{ profissional.nome }}</option>
                        {% endfor %}
                    </select>
                    <input type="date" id="id_data" name="data" class="form-control" placeholder="Data" required>
                    <input type="time" id="id_horario" name="horario" class="form-control" placeholder="Horario" required>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" value="Salvar" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editar" role="dialog">
    <div class="modal-dialog">
              <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar Perfil</h4>
            </div>
            <form class="form" action="{% url 'editarPerfil' perfil.id %}" method="post">
                <div class="modal-body">
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">x</button>
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                    {% csrf_token %}
                    <input type="text" id="id_nome_prof" name="nome" class="form-control" placeholder="Nome" required>
                    <input type="text" id="id_profissao" name="profissao" class="form-control" placeholder="Profissao" required>
                    <input type="text" id="id_telefone_prof" name="telefone" class="form-control" placeholder="Telefone" required>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" value="Salvar" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-9">
        <h2>{{ perfil }}</h2>
    </div>

    <div class="col-md-3">
        {% if perfil.status == 'D' %}
        <h2><span class="text-success" aria-hidden="true">Disponivel</span></h2>
        {% elif perfil.status == 'O' %}
        <h2><span class="text-danger" aria-hidden="true">Ocupado</span></h2>
        {% else %}
        <h2><span class="text-muted" aria-hidden="true">Ausente</span></h2>
        {% endif %}
    </div>
</div>


<dl class="dl-horizontal">
    <dt>Profissão</dt>
    <dd>{{ perfil.profissao }}</dd>
    <dt>Telefone</dt>
    <dd>{{ perfil.telefone }}</dd>
</dl>

{% if perfil.id is perfilLogado.id %}
        <a data-toggle="modal" data-target="#editar" class="btn btn-info" role="button">Editar Perfil</a>
    {% if perfil.status == 'D' %}
        <a href="{% url 'ficarAusente' perfil.id %}" class="btn btn-info" role="button">Ficar ausente</a>
    {% elif perfil.status == 'A' %}
        <a href="{% url 'ficarPresente' perfil.id %}" class="btn btn-info" role="button">Ficar presente</a>
    {% endif %}
{% endif %}




<hr>


<div class="panel panel-default">
    <div class="panel-heading clearfi" style="position:relative;">
        <strong>
            {% if compromissos %}
            Compromissos
            {% else %}
            Você não tem compromissos!
            {% endif %}
        </strong>
        <a data-toggle="modal" data-target="#marcar" class="btn btn-sm btn-info" style="position:absolute;right:15px;bottom:5px;" role="button">+</a>
    </div>
    <ul class="list-group">
    {% for compromisso in compromissos %}
        <li class="list-group-item">
            <a href="{% url 'compromisso' compromisso.id %}">{{ compromisso.cliente }}</a>
            <p class="pull-right">{{ compromisso.horario }}</p>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}>